Quart
discord.py
jishaku
mcstatus
discord-ext-menus
aiohttp
flask
psutil
requests
pymongo
wavelink>=2.0.0
httpx
discord.ext-context
tasksio
motor
Augmentor
numpy
aiosqlite
gtts
langdetect
python-dotenv
pyttsx3
PyYAML
openai
duckduckgo-search==6.3.6
# pillow==11.0.0
colorama
chess
python-dateutil
deep-translator==1.11.4
uvicorn==0.46.0
fastapi
slowapi
pycloudflared